
 /* signup */
 
/*  .form-control::value {
  font-size: 13px;
  text-align: center;
  color:#333;
  }
   {
    font-size: 13px;
    text-align: center;
    color:#333;
    }
 */
 .marg-top{
   margin-top:10% !important;
 }