
.sign-up-form{
    background-color: #fff;
    border-radius:0px;
    padding: 20px;
    color: #333;
}
.sign-up-form h2{
    color: #57CAFF;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
    color: #57CAFF;
}
h1, h2, h3, h4, h5, h6{
    text-transform: capitalize;
}
.self-input{
    color: #FFF;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 50px;
    border: 1px solid #57CAFF;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.self-input:focus{
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #57CAFF;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(71, 71, 71, 0);
    font-weight: 600;
}
.btn-premium{
    width: 30%;
    min-width: 200px;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    border: 3px solid #57CAFF;
    background: transparent;
    color:#57CAFF;
    font-weight: 600;
    transition: .3s;
    font-size: 17px
}
.btn-premium:hover{
  background-color: #57CAFF;
  color: white;
  text-shadow: 1px 1px 1px #8c8a8a;
  font-weight: 600;
}
.chkbox{
    width: 20px;
    height: 20px;
    border: 1px solid #57CAFF;
    background: transparent;
    align-items: center;
    display: flex;
}